:root{
    --dark-color: #1c1c1c;
    --font-light-color: #fafaff;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url("../assets/fonts/UbuntuMono.ttf");
}

*{
    font-family: "UbuntuMono";
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

main {
    grid-area: content;
    background-color: #daddd8;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: overlay;
    overflow-x: hidden;
}

main::-webkit-scrollbar,
.users-table-container::-webkit-scrollbar {
    background-color: transparent;
    background-clip: padding-box;
    width: 10px;
}

main::-webkit-scrollbar-thumb,
.users-table-container::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
}


.form-container {
    background-color: #eef0f2;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0.8, 0.8, 0.8, 0.8);
    display: flex;
}

.fieldset {
    border: none;
}

.unit-select, 
.password-input,
.text-input,
.token-time-input {
    padding: 15px;
    margin: 10px;
    display: block;
    border: 1px solid;
    border-color: #adadad;
    color: var(--dark-color);
    font-size: 16px;
    background-color: #fafaff;
    border-radius: 5px;
}

.password-input:focus,
.text-input:focus,
.token-time-input:focus {
    outline: 0;
    transition: 0.2s;
    box-shadow: 0px 0px 30px rgba(0.4, 0.4, 0.4, 0.4);
    border-color: #999999;
}

.edit-user,
.decrease-token-time,
.increase-token-time,
.exit-button,
.form-cancel-button,
.form-submit-button {
    border-style: none;
    border-radius: 5px;
}

.form-cancel-button,
.form-submit-button {
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    width: 200px;
}

.edit-user:hover,
.decrease-token-time:hover,
.increase-token-time:hover,
.exit-button:hover,
.form-cancel-button:hover,
.form-submit-button:hover {
    transition: 0.2s;
    cursor: pointer; 
    opacity: 85%;
}